<template>
  <div class="columns is-multiline is-mobile">
    <div class="column">
      <input
        class="input is-fullwidth"
        @input="searchTerm"
        placeholder="Type a user's username to search"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: "SearchBar",
  methods: {
    searchTerm(event) {
      this.$emit("searchKeyword", event.target.value);
    }
  }
};
</script>
