<template>
  <div class="column is-4-fullhd is-4-dektop is-6-tablet is-6-mobile">
    <VideoListItem @sendUser="sendUserInfo" v-for="user in users" :user="user" :key="user.id"></VideoListItem>
  </div>
</template>

<script>
import VideoListItem from "./VideoListItem";

export default {
  name: "VideoList",
  components: {
    VideoListItem
  },
  props: ["users"],
  methods: {
    sendUserInfo(userInfo) {
      this.$emit("singleUser", userInfo);
      //console.log(user);
    }
  }
};
</script>
