<template>
  <div class="column is-8-fullhd is-8-dektop is-6-tablet is-6-mobile">
    <div class="card" v-if="userInfo">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image" />
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">{{userInfo.name}}</p>
            <p class="subtitle is-6">@{{userInfo.email}}</p>
          </div>
        </div>
        <div class="content">
          <p class="has-text-bold">Address</p>
          <p>{{userInfo.address.street}}</p>
          <p>{{userInfo.address.suite}}</p>
          <p>{{userInfo.address.city}}</p>
          <p>{{userInfo.address.zipcode}}</p>
          <br />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "VideoDetail",
  props: ["userInfo"]
};
</script>