<template>
  <div class="media" @click="singleUser">
    <figure class="media-left">
      <p>{{ user.id }}</p>
    </figure>
    <div class="media-content">
      <div class="content">
        <h6>{{ user.name }}</h6>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "VideoListItem",
  props: ["user"],
  methods: {
    singleUser() {
      this.$emit("sendUser", this.user);
    }
  }
};
</script>

<style lang="scss" scoped>
.media {
  cursor: pointer;
  &:hover {
    background-color: beige;
  }
}
</style>