<template>
  <div class="container section">
    <SearchBar @searchKeyword="processSearch"></SearchBar>

    <div class="columns is-multiline is-mobile">
      <VideoDetail :userInfo="userInfo" />
      <VideoList @singleUser="fetchUser" :users="users"></VideoList>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import SearchBar from "./components/SearchBar";
import VideoList from "./components/VideoList";
import VideoDetail from "./components/VideoDetail";

export default {
  name: "App",
  components: {
    SearchBar,
    VideoList,
    VideoDetail
  },
  data() {
    return {
      users: [],
      userInfo: null
    };
  },
  methods: {
    fetchUser(user) {
      this.userInfo = user;
    },
    processSearch(searchKeyword) {
      axios
        .get("https://jsonplaceholder.typicode.com/users/", {
          params: {
            username: searchKeyword
          }
        })
        .then(response => {
          this.users = response.data;
        });
    }
  }
};
</script>
